.about {

    &__container {
        background-color: var(--clr-secondary-700);
        padding: 3rem 1.25rem;
        position: relative;
        z-index: 2;
        overflow: hidden;

        @media screen and (min-width: 768px)  {
            padding: 3rem 1.75rem;
        }

        @media screen and (min-width: 992px)  {
            padding: 3rem;
        }

        @media screen and (min-width: 1280px)  {
            padding: 5rem 3.125rem 3.625rem 3.5rem;
        }

    }

    &__gradient {
        position: absolute;
        border-radius: 50%;

        &--one {
            width: 581px;
            height: 410px;
            background-color: #0F4279;
            filter: blur(60px);
            top: -281px;
            left: -373px;
        }

        &--two {
            width: 623px;
            height: 558px;
            background: #1B78DE;
            filter: blur(100px);
            bottom: -319px;
            right: -424px;
        }
    }

    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;

        @media screen and (min-width: 992px)  {
            flex-direction: row;
            column-gap: 9.375rem;
        }
    }

    &__title {
        font-size: var(--fs-body-xl);
        line-height: var(--lh-body-xl);
        font-weight: var(--fw-extra-bold);
        position: relative;

        @media screen and (min-width: 1280px)  {
            font-size: var(--fs-display-sm);
            line-height: var(--lh-display-sm);
        }

        &::after {
            content: '';
            position: absolute;
            width: 38px;
            height: 3px;
            background: var(--gradient-two);
            top: -14px;
            left: 0;
        }
    }

    &__text {
        color: var(--clr-tertiary-400);
        font-size: var(--fs-body-md);
        line-height: var(--lh-body-md);

        @media screen and (min-width: 992px)  {
            flex: 1;
            padding-right: 2rem;
        }
    }

    &__features {
        position: relative;
        margin-top: 3rem;

        @media screen and (min-width: 768px)  {
            margin-top: 5.625rem;
        }

        &-header {
            display: flex;
            flex-direction: column;
            row-gap: 1.25rem;

            @media screen and (min-width: 768px)  {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
            }

        }

        &-title {
            font-size: var(--fs-display-sm);
            line-height: var(--lh-display-sm);
            background: var(--gradient-one);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: var(--fw-extra-bold);

            @media screen and (min-width: 768px) {
                flex: 1;
                padding-right: 5rem;
            }

            @media screen and (min-width: 992px)  {
                font-size: var(--fs-display-md);
                line-height: var(--lh-display-md);
                padding-right: 8rem;
            }

            @media screen and (min-width: 1280px) {
                padding-right: 0;
                max-width: 500px;
            }
        }

        &-link {
            color: var(--clr-primary-400);
            font-size: var(--fs-body-md);
            line-height: var(--lh-body-md);
        }
    }

    &__features-grid {
        margin-top: 3rem;
        display: grid;
        gap: 2.625rem;

        @media screen and (min-width: 576px)  {
            grid-template-columns: repeat(2, 1fr)
        }

        @media screen and (min-width: 768px)  {
            margin-top: 5.625rem;
        }

        @media screen and (min-width: 992px)  {
            grid-template-columns: repeat(3, 1fr);
            ;
            gap: 2.5rem;
        }

        & .feature:nth-child(3) {
            @media screen and (min-width: 576px)  {
                grid-column: 1 / 3;
            }

            @media screen and (min-width: 992px)  {
                grid-column: initial;
            }
        }

    }

}