.feature {

    &__title {
        font-size: var(--fs-body-xl);
        line-height: var(--lh-body-xl);
        font-weight: var(--fw-extra-bold);
        position: relative;

        @media screen and (min-width: 1280px)  {
            font-size: var(--fs-display-sm);
            line-height: var(--lh-display-sm);
        }

        &::after {
            content: '';
            position: absolute;
            width: 38px;
            height: 3px;
            background: var(--gradient-two);
            top: -14px;
            left: 0;
        }
    }

    &__text {
        margin-top: 1.25rem;
        color: var(--clr-tertiary-400);
        font-size: var(--fs-body-md);
        line-height: var(--lh-body-md);

        @media screen and (min-width: 992px)  {
            margin-top: 2.5rem;
        }
    }

}

.feature--future {
    
    & .feature__content {
        @media screen and (min-width: 1280px)  {
            display: flex;
            gap: 4.625rem;
        }
    }

    & .feature__title {
        @media screen and (min-width: 1280px)  {
            flex: 1;
            margin-top: .875rem;
            font-size: var(--fs-body-lg);
            line-height: var(--lh-body-lg);
        }
    }

    & .feature__text {
        @media screen and (min-width: 1280px)  {
            margin-top: 0;
            font-size: var(--fs-body-sm);
            line-height: var(--lh-body-sm);
            max-width: 334px;
        }
    }

}