.features {
    margin-top: 5rem;

    @media screen and (min-width: 1280px)  {
        margin-top: 12.5rem;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4.75rem;

        @media screen and (min-width: 1280px)  {
            flex-direction: row;
            gap: 8.625rem;
        }
    }

    &__gradient {
        position: absolute;
        width: 777px;
        height: 777px;
        left: -548px;
        top: -228px;
        background: #07325F;
        filter: blur(282px);
    }

    &__data {

        position: relative;
        z-index: 2;

        @media screen and (min-width: 768px)  {
            max-width: 526px;
        }

        @media screen and (min-width: 992px)  {
            max-width: 626px;
        }

        @media screen and (min-width: 1280px)  {
            max-width: 426px;
        }
    }

    &__title {
        font-size: var(--fs-display-sm);
        line-height: var(--lh-display-sm);
        background: var(--gradient-one);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: var(--fw-extra-bold);

        @media screen and (min-width: 992px)  {
            font-size: var(--fs-display-md);
            line-height: var(--lh-display-md);
        }
    }

    &__link {
        display: inline-block;
        margin-top: 1.25rem;
        color: var(--clr-primary-400);
        font-size: var(--fs-body-md);
        line-height: var(--lh-body-md);
    }

    &__grid {
        display: grid;
        gap: 2.875rem;
        position: relative;
        z-index: 2;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1280px)  {
            flex: 1;
            margin-top: .875rem;
            grid-template-columns: 1fr;
            gap: 3.5rem;
        }

    }

}