@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

:root {
    // Font Family
    --ff-manrope: 'Manrope', sans-serif;

    // Colors
    --clr-primary-800: hsl(11, 100%, 50%);
    --clr-primary-600: #FF4820;
    --clr-primary-400: #FF8A71;
    --clr-secondary-800: #031B34;
    --clr-secondary-700: #042C54;
    --clr-secondary-600: #052D56;
    --clr-tertiary-600: #3D6184;
    --clr-tertiary-400: #81AFDD;
    --clr-tertiary-200: #71E5FF;
    --clr-dark: #040C18;
    --clr-white: #FFFFFF;
    --clr-black: #000000;

    // Font Sizes
    --fs-display-xl: 3.875rem;
    --fs-display-lg: 2.625rem;
    --fs-display-md: 2.125rem;
    --fs-display-sm: 1.5rem;
    --fs-display-xs: 1.125rem;
    --fs-body-xl: 1.25rem;
    --fs-body-lg: 1.125rem;
    --fs-body-md: 1rem;
    --fs-body-sm: 0.875rem;
    --fs-body-xs: 0.75rem;

    // Line Heights
    --lh-display-xl: 4.6875rem;
    --lh-display-lg: 3rem;
    --lh-display-md: 2.8125rem;
    --lh-display-sm: 1.875rem;
    --lh-display-xs: 1.5rem;
    --lh-body-xl: 1.6875rem;
    --lh-body-lg: 1.5625rem;
    --lh-body-md: 1.875rem;
    --lh-body-sm: 1.5rem;
    --lh-body-xs: 1rem;

    // Font Weights
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    // Gradients
    --gradient-one: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-two: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.618;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}